{% extends "layout.html" %}

{% block stylesheets %}
<style type="text/css">

    /* Dynamic CSS code */
    input[type=range] + .thumb, input[type=range] + .thumb .value, input[type=range]::-webkit-slider-thumb {
        background-color: {{car.color}};
    }

    [type=radio]:checked+label:after {
        border-color: {{car.color}};
        background-color: {{car.color}};
    }
</style>
{% endblock %}

{% block main %}

<section class="section extra-margins text-center pb-3">
    <div class="mt-5 pt-4 container-fluid">
        <h3 class="col-12">Configure your {{car.name}}</h3><br/>
        <div class="col-12 card simpleContainer" style="border-top: 4px solid {{car.color}}">
            <div class="row">
                <div class="col-lg-6 col-12 carSupContainer">
                    <div class="carContainer" data-rotation="front">
                        <img src="{{ url_for('static', filename=car.frontPicture) }}" alt="Front {{car.name}}" data-type="car" />
                    </div>
                    <div class="carContainer d-none" data-rotation="side">
                        <img src="{{ url_for('static', filename=car.sidePicture) }}" alt="Side {{car.name}}" data-type="car" />
                    </div>
                    <div class="carContainer d-none" data-rotation="rear">
                        <img src="{{ url_for('static', filename=car.rearPicture) }}" alt="Rear {{car.name}}" data-type="car" />
                    </div>

                    <span id="spanRange">
                        <input id="slide" type="range" list="tickmarks" min="0" max="2" value="0" />
                    </span>
                    <span id="spanRangePictures">
                        <img src="{{ url_for('static', filename=car.frontPicture) }}" onclick="$('#slide').val(0);$('#slide').trigger('change');" alt="Front {{car.name}}" />
                        <img src="{{ url_for('static', filename=car.sidePicture) }}" onclick="$('#slide').val(1);$('#slide').trigger('change');" alt="Side {{car.name}}" />
                        <img src="{{ url_for('static', filename=car.rearPicture) }}" onclick="$('#slide').val(2);$('#slide').trigger('change');" alt="Rear {{car.name}}" />
                    </span>
                    <h5 class="mb-0 text-left resumeDiv" style="background-color: {{car.color}}" data-base-price="{{car.price}}" data-base-name="{{car.name}}">
                        Total Price: <span id="spanTotalPrice">{{'%0.2f'| format(car.price|float)}} €</span>
                    </h5>
                </div>
                <div class="col-lg-6 col-12 pt-3">
                    <ul class="nav nav-tabs nav-justified"  style="background-color: {{car.color}}">
                        {% for optionCategory in optionCategories %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.index == 1 %}active{% endif %}" data-toggle="tab" href="#panel{{optionCategory.name}}" role="tab">
                                    <img class="svgImg" src="{{ url_for('static', filename=optionCategory.icon) }}" /> {{optionCategory.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <form id="form" method="POST" action="{{url_for('result')}}">
                        <input type="hidden" name="car" value="{{car.id}}"/>
                        <div class="tab-content card">
                            {% for optionCategory in optionCategories %}
                                <div class="tab-pane fade in show {% if loop.index == 1 %}active{% endif %}" id="panel{{optionCategory.name}}" role="tabpanel">
                                    {% for option in options %}
                                        {% if option.optionCategoryId == optionCategory.id %}
                                            <div class="option">
                                                <p class="title">{{option.name|upper}}</p>
                                                {% if option.description %}
                                                    <p>{{option.description}}</p>
                                                {% endif %}
                                                <div>
                                                    {% for optionValue in optionValues %}
                                                        {% if optionValue.optionId == option.id %}
                                                            <div class="form-group">
                                                                <input
                                                                    class="optionInput"
                                                                    name="option{{option.id}}"
                                                                    value="optionValue{{optionValue.id}}"
                                                                    type="radio"
                                                                    id="optionValue{{optionValue.id}}"
                                                                    {% if optionValue.default %} checked {% endif %}
                                                                    data-type="{{option.type}}"
                                                                    data-price="{{'%0.2f'| format(optionValue.price|float)}}"
                                                                    data-name="{{optionValue.name}}"
                                                                    data-option-name="{{option.name|upper}}"
                                                                    {% if optionValue.frontPicture != "" %} data-front-picture="{{ url_for('static', filename=optionValue.frontPicture) }}" {% endif %}
                                                                    {% if optionValue.sidePicture != "" %} data-side-picture="{{ url_for('static', filename=optionValue.sidePicture) }}" {% endif %}
                                                                    {% if optionValue.rearPicture != "" %} data-rear-picture="{{ url_for('static', filename=optionValue.rearPicture) }}" {% endif %}>
                                                                <label for="optionValue{{optionValue.id}}">
                                                                    {{optionValue.name}} (+{{'%0.2f'| format(optionValue.price|float)}} €)
                                                                    {% if optionValue.preview != ""%}
                                                                        <img class="optionValuePreview" src="{{ url_for('static', filename=optionValue.preview) }}"/>
                                                                    {% endif %}
                                                                </label>

                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                    <span class="btn btn-rounded" style="background-color: {{car.color}}" onclick="$('#form').submit()">
                        <i class="fa fa-gears" aria-hidden="true"></i> Submit your configuration
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    (function(){
        $("#slide").on("change", function(){
            var rotations = ["front", "side", "rear"];
            var rotation = rotations[$("#slide").val()];

            $(".carContainer").removeClass("d-block").addClass("d-none");
            $(".carContainer[data-rotation="+rotation+"]").removeClass("d-none").addClass("d-block");
        });
    })();
    (function(){
        $(".optionInput").on("change", function(){

            $type = $(this).attr("data-type");
            $("img[data-type="+$type+"]").remove();

            if (typeof $(this).attr("data-front-picture") !== typeof undefined && $(this).attr("data-front-picture") !== false) {
                $(".carContainer[data-rotation=front]").append("<img src='"+$(this).attr("data-front-picture") +"' data-type='"+$type+"'/>");
            }
            if (typeof $(this).attr("data-side-picture") !== typeof undefined && $(this).attr("data-side-picture") !== false) {
                $(".carContainer[data-rotation=side]").append("<img src='"+$(this).attr("data-side-picture") +"' data-type='"+$type+"'/>");
            }
            if (typeof $(this).attr("data-rear-picture") !== typeof undefined && $(this).attr("data-rear-picture") !== false) {
                $(".carContainer[data-rotation=rear]").append("<img src='"+$(this).attr("data-rear-picture") +"' data-type='"+$type+"'/>");
            }

            $totalPrice = parseFloat($(".resumeDiv").attr("data-base-price"));

            $("input.optionInput:checked").each(function(){
                $totalPrice += parseFloat($(this).attr("data-price"));
            });

            $(".resumeDiv #spanTotalPrice").html($totalPrice+".00 €");
        });
    })();



    </script>

{% endblock %}